<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arraybit.pos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.arraybit.global.POSApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GuestHomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WaiterHomeActivity"
            android:label="@string/title_activity_waiter_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WaitingActivity"
            android:label="@string/title_activity_waiting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_fragment_category_item"
            android:screenOrientation="portrait" />

        <!-- <receiver android:name="com.arraybit.global.TimeScheduler" /> -->
        <receiver
            android:name="com.arraybit.global.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".HotelProfileActivity"
            android:label="@string/title_fragment_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OfferActivity"
            android:label="@string/title_fragment_offer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_fragment_about_us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WishListActivity"
            android:label="@string/title_activity_wish_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationDetailActivity"
            android:label="@string/title_activity_notification_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CartItemActivity"
            android:label="@string/title_fragment_cart_item"
            android:screenOrientation="portrait" />

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>